$snow:#FFFFF2;
$burgundy:#F05D5E;
// $gunmetal:#214E34;
$gunmetal:#122932;
$raisin:#22181C;
$newblue:#053672;

$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;

$internal-page-gutter: 50px;

@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

// *{
//   border:1px solid red;
// }

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  margin:0;
  padding:0;
  width:100vw;
  max-width:100vw;
  overflow-x: hidden;
  font-size:16px;
  background: $gunmetal;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fraunces', serif;
  // font-family: 'Amatic SC', cursive;
  font-weight:100;
  // font-family: 'Oswald', sans-serif;
}

p{
  font-family: 'Raleway', serif;
  font-weight:300;
  font-size:18px;
}

li{
  list-style-type: none;
}

.heroImage{
  @include topoBG;
  height:auto;
  padding:2.5% 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width:800px){
    height: 45vh;
  }

  h1{
    font-size:10vw;
    color:$snow;
    font-weight:100;
  }
}

.mainBtn{
  font-family: 'Fraunces', serif;
  font-weight:300;
  text-decoration:none;
  padding:15px 40px;
  border:1px solid $snow;
  display: inline-block;
  color:$snow;
  font-size: 1.25em;
  letter-spacing: .15em;
  transition: all .4s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @media screen and (max-width:800px){
    padding:10px 30px;
    font-size: 1em;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -2;

  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $snow;
    color:$gunmetal;
    transition: all .4s ease-in-out;
    z-index: -1;

  }
  &:hover {
    color: $burgundy;

    &:before {
      width: 100%;
    }
  }
}

.mainBtn2{
  font-family: 'Fraunces', serif;
  font-weight:300;
  text-decoration:none;
  padding:15px 40px;
  border:1px solid $gunmetal;
  display: inline-block;
  color:$gunmetal;
  font-size: 1.25em;
  letter-spacing: .15em;
  transition: all .4s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @media screen and (max-width:800px){
    padding:10px 30px;
    font-size: 1em;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -2;

  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $gunmetal;
    color:$snow;
    transition: all .4s ease-in-out;
    z-index: -1;

  }
  &:hover {
    color: $snow;

    &:before {
      width: 100%;
    }
  }
}

.mainBtn3{
  font-family: 'Fraunces', serif;
  font-weight:300;
  max-width: 250px;
  text-decoration:none;
  padding:15px 40px;
  border:1px solid $gunmetal;
  background:transparent;
  display: inline-block;
  color:$gunmetal;
  font-size: 1.25em;
  letter-spacing: .15em;
  transition: all .4s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @media screen and (max-width:800px){
    padding:10px 30px;
    font-size: 1em;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -2;

  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $gunmetal;
    color:$snow;
    transition: all .4s ease-in-out;
    z-index: -1;

  }
  &:hover {
    color: $snow;

    &:before {
      width: 100%;
    }
  }
}

// MENU STYLES

.menuContainer{
  width:100%;
  height:100px;
  background:$snow;
  height:auto;
  padding:2.5% 0;
  display:flex;
  flex-direction: row;
  // position: sticky;
  // top:0;
  transition:all .5s ease-in-out;
}

.logoContainer {
  width:50%;
  display:flex;
  align-items: center;
  padding-left: 5%;;
  img{
    width:50px;
    height:auto;
  }
}

.buttonOuterContainer{
  width:50%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
}

.button_container {
  position: relative;
  height: $button-height;
  width: $button-width;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;


  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: $color-active;
      z-index: 100;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: $color-active;
      z-index: 100;
    }
  }

  span {
    background: $gunmetal;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 10px;
    }

    &:nth-of-type(3) {
      top: 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .95s, visibility .35s, width .35s;
  z-index: 50;

  &:before {
    content: '';
    background: $gunmetal;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease;
  }

  &:after {
    content: '';
    background: $gunmetal;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
  }

  &.open {
    visibility: visible;
    height: 100%;

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    li {
      animation: fadeInUp .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .45s;
      }
      &:nth-of-type(3) {
        animation-delay: .55s;
      }
      &:nth-of-type(4) {
        animation-delay: .65s;
      }
      &:nth-of-type(5){
        animation-delay:.75s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    font-family: 'Fraunces', serif;
    font-weight:100;
    text-align: center;
    z-index: 100;

    @media screen and (max-width:800px){
      font-size: 2em;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: calc(100% / 5);
      // min-height: 50px;
      position: relative;
      opacity: 0;

      &:hover{
        color:$burgundy;
      }

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $burgundy;
          transition: .35s;
        }
      }
    }
  }
}

.slideup{
  visibility: hidden;
}

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity:0;
  }
  100% {
    transform: translateY(0%);
    opacity:1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.slideUpAlt{
  animation-name: slideUpAlt;
  -webkit-animation-name: slideUpAlt;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUpAlt {
  0% {
    transform: translateY(100px);
    opacity:0;
  }
  100% {
    transform: translateY(0%);
    opacity:1;
  }
}

@-webkit-keyframes slideUpAlt {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    bottom: -20%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}




// HOMEPAGE HERO AREA

.heroContainer{
  // @include topoBG;
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: row;
  // border:5px solid red;

  @media screen and (max-width:800px){
    flex-direction: column;
    height:auto;
  }

}

.heroItem{
  height:auto;
  display: flex;
  align-items: flex-start;

  @media screen and (max-width:800px){
    align-items: center;
    justify-content: center;
  }

  img{
    height:100%;
    width:auto;
  }
  h1{
    font-size:7vw;
    line-height: .9em;
    font-weight:100;
    color:$snow;
    transform:translateX(35%);
    z-index: 20;

    @media screen and (max-width:800px){
      transform:translateX(0);
      font-size: 15vw;
      padding: 0 5%;
    }
  }
}

#heroItemAlpha{
  width:50%;
  display:flex;
  align-items: center;

  @media screen and (max-width:800px){
    height:70vh;
    width:100%;
    padding:10% 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#heroItemBravo{
  margin: 50px 50px;
  width:50%;
  display:flex;
  align-items: center;

  @media screen and (max-width:800px){
    display: none;
    width:100%;
    height:500px;
    margin:0;
    background-image: url('../images/pattern.png');
    justify-content: center;
    padding:0 5%;
    margin-bottom:10%;
  }
}

.introContainer{
  background:$snow;
  display: flex;
  flex-direction:column;
  height:auto;
  padding:5% 5%;

  @media screen and (max-width:800px){
    padding:25% 10%;
  }
}

.introItem{
  width:100%;
  height:50%;

  @media screen and (max-width:800px){
    width:100%;
    height:auto;
  }
}

#introItemAlpha{

  @media screen and (max-width:800px){
    max-height:175px;
  }
  h1{
    color:$gunmetal;
    font-weight:100;
    font-size: 4em;
    line-height: 1.25em;
    margin:0;
    padding:0;
    z-index: 100;
    margin-bottom:25px;

    @media screen and (max-width:800px){
      font-size:2.5em;
    }
  }
}

#introItemBravo{


  @media screen and (max-width:800px){
    height:100%;
  }

  p{
    font-size: 1.5em;
    color:$gunmetal;
    line-height:1.75em;
    margin:0;
    padding:0;

    @media screen and (max-width: 1280px){
      font-size:1.5em
    }

    @media screen and (max-width: 800px){
      font-size: 1em;
      text-align: left;
      margin-top:40px;
    }
  }
}

// HOMEPAGE TEAM SECTION

.aboutOuter{
  padding:0 5%;
  background:$snow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "a1 a1"
  "a2 a3"
  "a4 a5"
  ;

  @media screen and (max-width:800px){
    grid-template-columns: 1fr;
    grid-template-areas:
    "a1"
    "a3"
    "a2"
    "a4"
    "a5"
    ;
  }
}

.aboutItem{
  min-height:100px;

  &:nth-of-type(1){
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    grid-area:a1;

    @media screen and (max-width:800px){
      align-items: center;
      justify-content: center;
    }

    h1{
      font-size: 6em;
      line-height: 1em;
      color:$burgundy;
      margin:0;
      // transform:translateY(13%);

      @media screen and (max-width:800px){
        font-size: 4em;
        text-align: center;
        padding-bottom:20px;
      }
    }
  }
  &:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area:a2;
    z-index: 10;
    background:$gunmetal;

    @media screen and (max-width:800px){
      background:$snow;
    }

    p{
      color:$gunmetal;
      background:$snow;
      padding:15% 5%;
      font-size:1.25em;
      transform:translateX(15%);

      @media screen and (max-width:800px){
        transform: translateX(0%);
        text-align: center;
        background:$snow;
      }
    }
  }
  &:nth-of-type(3){
    grid-area:a3;

    img{
      width:100%;
      height:auto;
    }
  }
  &:nth-of-type(4){
    grid-area:a4;

    img{
      width:100%;
      height:auto;
    }
  }
  &:nth-of-type(5){
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area:a5;
    background:$gunmetal;

    @media screen and (max-width:800px){
      background:$snow;
      align-items: center;
      justify-content: center;
    }

    p{
      color:$gunmetal;
      background:$snow;
      padding:15% 5%;
      font-size:1.25em;
      transform:translateX(-15%);

      @media screen and (max-width:800px){
        transform:translateX(0);
        text-align: center;
      }
    }
  }
}

// *******************
// TESTIMONIAL SECTION
// *******************

.testimonialOuter{
  padding:5% 5%;
  display: flex;
  flex-direction: column;
  background:$snow;

  @media screen and (max-width:800px){
    padding:5% 5% 10% 5%;
  }
}

.testimonialUpper{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @media screen and (max-width:800px){
    align-items: center;
    justify-content: center;
  }

  h1{
    font-size: 6em;
    line-height:1em;
    margin:0;
    padding:0;
    color:$burgundy;
    z-index: 10;
    // transform:translateY(13%);

    @media screen and (max-width:800px){
      font-size: 4em;
      transform:translateY(0);
      text-align: center;
      padding-bottom:20px;
    }
  }
}

.testimonialLower{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap:20px;
  grid-template-areas:". ." ". ." ;

  @media screen and (max-width:800px){
    grid-template-columns: 1fr;
    grid-template-areas: "." "." "." ".";
  }
}

.testimonialItem{
  box-shadow: 10px 10px 10px #000;
  background:$gunmetal;
  min-height:400px;
  padding:5% 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width:800px){
    padding:10% 10%;
  }


  p{
    margin:0;
    color:$snow;
    padding-bottom:10px;
    font-size: 1.25em;

    span{
      font-family: 'Fraunces', serif;
      font-size:1.5em;
      font-weight: 100;
      color:$burgundy;
      padding:0;
    }
  }
}

// ***********************
// END TESTIMONIAL SECTION
// ***********************

.hmpImages{
  display:flex;
  flex-direction:column;
  background:$snow;
  padding:5% 0;
}

.imageRow{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas:
  ". . . .";

  @media screen and (max-width:800px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px 10px;
    grid-template-areas:
    ". ."
    ". .";
  }
}

.imageItem{
  width:100%;
  height:auto;

  img{
    width:100%;
    height:auto;
  }
}

.bodyContainer{
  @include topoBG;
}

// **********
// CTA STYLES
// **********

.cta{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:2.5% 0;

  @media screen and (max-width:800px){
    display: grid;
    padding-bottom: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "."
    ;
  }
}

.ctaInner{
  width:50%;
  height:auto;
  display:flex;

  @media screen and (max-width:800px){
    width:100%;
    text-align: center;
  }

  &:nth-of-type(1){
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: innerAlpha;

    @media screen and (max-width:1000px){
      transform:translateX(20%);
    }

    @media screen and (max-width:600px){
      width:100%;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      height:100%;
    }

    h1{
      display:none;

      @media screen and (max-width:800px){
        display:block;
      }
    }

    a{
      display: none;

      @media screen and (max-width:800px){
        display:block;
        margin-bottom:20px;
      }
    }
  }

  &:nth-of-type(2){
    justify-content: flex-start;
    flex-direction:column;
    grid-area:innerBravo;

    @media screen and (max-width:800px){
      align-items: center;
      justify-content: center;
    }

    a{
      max-width:150px;
      transform:translateX(40%);
      text-align: center;

      @media screen and (max-width:800px){
        max-width:300px;
        transform:translateX(0);
        // font-size: 1.5em;
      }
    }
  }

  img{
    width:auto;
    height:100%;

    @media screen and (max-width:800px){
      display:none;
    }
  }
  h1{
    color:$snow;
    font-size: 6vw;
    font-weight: 100;;
    text-shadow: 1px 1px 0 $gunmetal;
    line-height:1em;
    transform:translateX(-10%);

    @media screen and (max-width:800px){
      transform:translateX(0);
      font-size:10vw;
      padding:0 5%;
    }
  }
}

.cta2{
  @include topoBG;
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:2.5% 0;

  @media screen and (max-width:800px){
    display: grid;
    padding-bottom: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "."
    ;
  }
}

.ctaInner2{
  width:50%;
  height:auto;
  display:flex;

  @media screen and (max-width:800px){
    width:100%;
    text-align: center;
  }

  &:nth-of-type(1){
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: innerAlpha;

    @media screen and (max-width:1000px){
      transform:translateX(20%);
    }

    @media screen and (max-width:600px){
      width:100%;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      height:100%;
    }

    h1{
      display:none;

      @media screen and (max-width:800px){
        display:block;
      }
    }

    a{
      display: none;

      @media screen and (max-width:800px){
        display:block;
        margin-bottom:20px;
      }
    }
  }

  &:nth-of-type(2){
    justify-content: flex-start;
    flex-direction:column;
    grid-area:innerBravo;

    @media screen and (max-width:800px){
      align-items: center;
      justify-content: center;
    }

    a{
      max-width:150px;
      transform:translateX(40%);
      text-align: center;

      @media screen and (max-width:800px){
        max-width:300px;
        transform:translateX(0);
        // font-size: 1.5em;
      }
    }
  }

  img{
    width:auto;
    height:100%;

    @media screen and (max-width:800px){
      display:none;
    }
  }
  h1{
    color:$snow;
    font-size: 6vw;
    font-weight: 100;;
    text-shadow: 1px 1px 0 $gunmetal;
    line-height:1em;
    transform:translateX(-10%);

    @media screen and (max-width:800px){
      transform:translateX(0);
      font-size:10vw;
      padding:0 5%;
    }
  }
}

#hideMobile{
  @media screen and (max-width:800px){
    display:none;
  }
}

// **********
// END CTA STYLES
// **********


// *************
// FOOTER STYLES
// *************

.footer{
  @include topoBG;
  margin:0;
  display: grid;
  position:sticky;
  bottom:0;
  z-index: -1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "fa fb fc fd"
  "ff ff ff ff";
  padding:5% 5% 0 5%;

  @media screen and (max-width: 1000px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "fb fb"
    "fa fc"
    "fd fd"
    "ff ff"
    ;
    padding:10% 15%;
  }

  @media screen and (max-width:750px){
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "fa"
    "fb"
    "fc"
    "fd"
    "ff"
    ;
    // padding:5% 15%;
  }
}

.footerItem{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  // @media screen and (max-width:800px){
  //   margin-bottom:20px;
  // }

  &:nth-of-type(1){
    grid-area:fa;

    @media screen and (max-width:1000px){
      justify-content: flex-end;
    }
  }

  &:nth-of-type(2){
    grid-area:fb;
  }

  &:nth-of-type(3){
    grid-area:fc;

    @media screen and (max-width:1000px){
      flex-direction:row;
    }
  }

  &:nth-of-type(4){
    grid-area:fd;
  }

  &:nth-of-type(5){
    grid-area: ff;
    margin:0;

    p{
      font-size:1em;
      color:$snow;
    }
  }

  img{
    width:50%;
    height:auto;
    @media screen and (max-width:1000px){
      width:150px;
    }
  }

  ul{
    margin:0;
    padding:0;
    @media screen and (max-width:800px){
      text-align: center;
    }
  }

  ul li{
    color:$snow;
    font-size:2em;
    font-family: 'Fraunces', serif;
    font-weight:100;
    margin-bottom:10px;

    @media screen and (max-width:800px){
      font-size:1.5em;
    }
  }
  i{
    font-size:4em;
    color:$snow;
    transition:.5s ease-in-out;

    &:hover{
      color:$burgundy;
      scale:1.115;
      transform:rotate(10deg);
    }

    @media screen and (max-width:1000px){
      margin:10px;
      font-size: 3em;
    }

    &:nth-of-type(1){
      padding-bottom:20px;

      @media screen and (max-width:1000px){
        padding-bottom:0;
      }
    }
  }
  p{
    font-size: 2em;
    color:$snow;
    font-family: 'Fraunces', serif;
    font-weight:100;

    @media screen and (max-width:800px){
      font-size: 1.5em;
    }
  }
  a{
    color:$snow;
    text-decoration:none;
    font-size:2em;
    font-family: 'Fraunces', serif;
    font-weight:100;

    @media screen and (max-width:800px){
      font-size:1.5em;
    }
  }
}

// *****************
// END FOOTER STYLES
// *****************

// *****************
// TEAM PAGE STYLES
// *****************

.teamContent{
  background:$snow;
}

.teamIntro{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:auto;
  background:$snow;
  text-align: center;

  p{
    padding:10% 10% 0 8%;
    text-align: left;
    font-family: 'Fraunces', serif;
    font-weight: 100;
    font-size: 1.5em;
  }
}


.teamContainer{
  padding:5% 0;
  background:$snow;
  margin:0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px 0;
  grid-template-areas:
  "t1 t2"
  "t3 t4"
  "t5 t6"
  "t7 t8"
  "t9 t10"
  ;
@media screen and (max-width:900px){
  grid-template-columns: 1fr;
  gap:10px 0;
  grid-template-areas: 
  "t1"
  "t2"
  "t3"
  "t4"
  "t5"
  "t6"
  "t7"
  "t8"
  "t9"
  "t10"
  ;
}
  
}

.teamInnerItem{

  img{
    width:100%;
    height:100%;
  }
  &:nth-of-type(1){
    grid-area:t1;
  }
  &:nth-of-type(2){
    grid-area:t2;
  }
  &:nth-of-type(3){
    grid-area:t3;
  }
  &:nth-of-type(4){
    grid-area:t4;
  }
  &:nth-of-type(5){
    grid-area:t5;
  }
  &:nth-of-type(6){
    grid-area:t6;
  }
  &:nth-of-type(7){
    grid-area:t7;
  }
  &:nth-of-type(8){
    grid-area:t8;
  }
  &:nth-of-type(9){
    grid-area:t9;
  }
  &:nth-of-type(10){
    grid-area:t10;
  }
}

.innerItemContainer{
  display: flex;
}

.itemInnerSection{
  height:auto;

  img{
    width:100%;
    height:auto;
  }
  p{
    color:$snow;
    padding:0 5%;
  }
  h2{
    margin:0;
    color:$snow;
    padding:0 5%;
  }
}

.teamInnerItem{
  display: flex;
  justify-content: flex-end;
}

.textContainer{
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction:column;
  height:auto;
  transform:translateX(-25%);

  @media screen and (max-width:900px){
     transform:translateX(0);
  }

  p{
    color:$snow;
    background:$gunmetal;
    padding:5% 5%;
    span{
      color:$burgundy;
      font-size:2em;
      font-family: 'Fraunces', serif;
    }
  }
}

.itemInnerSectionBravo{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: flex-end;
  padding:5% 0;
  background-image: url('../images/pattern.png');
  background-size:cover;
  background-position: center;
}

#itemInnerOne{
  @media screen and (max-width:800px){
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas:
    "alphaOne"
    "BravoOne"
    ;
  }
}

#itemInnerOne{

  @media screen and (max-width:800px){
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas:
    'alphaOne'
    'bravoOne';
  }
}

#itemInnerTwo{
  @media screen and (max-width:800px){
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas:
    'bravoTwo'
    'alphaTwo';
  }
}

#alphaOne{
  grid-area: alphaOne;
}
#bravoOne{
  grid-area: bravoOne;
}

#alphaTwo{
  grid-area: alphaTwo;
}

#bravoTwo{
  grid-area: bravoTwo;
}

.teamImages{
  background:$snow;
  padding:5% 0;
}

.teamImageRow{
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas:
  ". . . .";

  @media screen and (max-width:800px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px 10px;
    grid-template-areas:
    ". ."
    ". ."
    ;
  }
}

.teamImageItem{
  width:100%;
  height:auto;


  img{
    width:100%;
    height:auto;
  }
}

// *******************
// CONTACT PAGE STYLES
// *******************



.socialIcons{
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: flex-start;
  padding:0 10%;

  @media screen and (max-width:800px){
    align-items: center;
    justify-content: center;
  }

  i{
    font-size:4em;
    margin:10px;
    color:$gunmetal;
    transition:.5s ease-in-out;

    &:hover{
      color:$burgundy;
      scale:1.115;
      transform:rotate(10deg);
    }
  }
}

.contactContent{
  background: $snow;
  padding:5% 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "."
  "."
  "."
  ;
}

#map {
  height: 450px;
}

.contentItem{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5% 0;
  
  &:nth-of-type(1){
    
    form{
      display: flex;
      flex-direction: column;
      width:100%;
      padding:0 10%;
      

      input{
        margin-bottom:10px;
        width:100%;
        height:75px;
        padding-left:5%;
        background:$snow;
        font-family: 'Fraunces', serif;
        font-size:22px;
        font-weight:100;
        font-family: 'Fraunces', serif;

        &::placeholder{
          font-family: 'Fraunces', serif;
          font-size:22px;
          font-weight: 100;
          color:$burgundy;
          transition:all .7s ease-in-out;
        }
      }
      textarea{
        margin-bottom:10px;
        height:250px;
        width:100%;
        padding-left:5%;
        padding-top:2.5%;
        background:$snow;
        font-size:22px;
        font-weight:100;
        font-family: 'Fraunces', serif;
        &::placeholder{
          font-size:22px;
          font-weight: 100;
          font-family: 'Fraunces', serif;
          color:$burgundy;
        }
      }
    }
  }

  &:nth-of-type(2){
  
    a{
      padding:1%;
      i{
        font-size: 4em;
        color:$gunmetal;
      }
    }
  }
}




.hearFromYou{
  padding-top:5%;
  width:100%;
  background:$snow;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h1{
    padding:0 10%;
    color:$gunmetal;
    font-size: 3.5em;
    

    @media screen and (max-width:800px){
      font-size: 3em;
    }
  }

  p{
    font-family: 'Fraunces', serif;
    font-size:1.5em;
    text-align: left;
    padding:0 10%;

    @media screen and (max-width:800px){
      padding: 0 10%;
    }
  }
}

// *************
// SERVICES PAGE
// *************

.servicesOuter{
  background:$snow;
  width:100%;
  height:auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding:10% 0;
}

.servicesContainer{
  width:100%;
  height:auto;
  padding-bottom:5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.servicesContainerLeft{
  width:50%;
  height:auto;
  position:sticky;
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:5%;

  @media screen and (max-width:800px){
    display: none;
  }

  img{
    width:60%;
    height:auto;
  }
}

.servicesContainerRight{
  width:50%;
  height:auto;
  padding-right:10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media screen and (max-width:800px){
    align-items: flex-start;
    justify-content: center;
    width:100%;
    text-align: left;
    padding-right:0;
  }

  h2{
    font-size: 3em;
    color:$gunmetal;

    @media screen and (max-width:800px){
      padding:0 5%;
      font-size: 2em;
    }
  }
  p{
    margin:0;
    padding-bottom:10px;
    line-height: 1.25em;
    font-family:'Fraunces', serif;

    @media screen and (max-width:800px){
      padding:0 5%;
    }
  }
}

.boardingContainer{
  width:100%;
  height:auto;
  padding-bottom:5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.boardingContainerLeft{
  width:50%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left:8%;

  @media screen and (max-width:800px){
    align-items: flex-start;
    justify-content: center;
    width:100%;
    text-align: left;
    padding-left:0;
  }

  h2{
    font-size: 3em;
    color:$gunmetal;

    @media screen and (max-width:800px){
      padding:0 5%;
      font-size: 2em;
    }
  }
  p{
    margin:0;
    padding-bottom:10px;
    font-family: 'Fraunces', serif;

    @media screen and (max-width:800px){
      padding:0 5%;
      line-height: 1.25em;;
    }
  }
}

.boardingContainerRight{
  width: 50%;
  height: auto;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;

  @media screen and (max-width:800px){
    display: none;
  }

  img{
    width:60%;
    height:auto;
  }
}

// HEADER REVEAL
.reveal,
.reveal::after {
  animation-delay: 0;
  animation-delay: var(--animation-delay, .5s);
  animation-iteration-count: 1;
  animation-iteration-count: var(--iterations, 1);
  animation-duration: 800ms;
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal {
  position: relative;
  font-size: 6vw;
  animation-name: text;
  color: $snow;
}

.reveal::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $snow;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer;
}



@keyframes text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}




@keyframes revealer {

  0%, 50% {
    transform-origin: 0 50%;
  }

  60%, 100% {
    transform-origin: 100% 50%;
  }


  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.reveal2,
.reveal2::after {
  animation-delay: 0;
  animation-delay: var(--animation-delay, .5s);
  animation-iteration-count: 1;
  animation-iteration-count: var(--iterations, 1);
  animation-duration: 800ms;
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal2 {
  position: relative;
  font-size: 6vw;
  animation-name: text;
  color: $gunmetal;
}

.reveal2::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gunmetal;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer;
}



@keyframes text2 {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}




@keyframes revealer2 {

  0%, 50% {
    transform-origin: 0 50%;
  }

  60%, 100% {
    transform-origin: 100% 50%;
  }


  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}